/*  this is my Css style  */

body {
    font-family: Arial, Helvetica, sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gainsboro;
    font-size: 1.3rem;
    padding: 20px;
    margin: 10px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    min-height: 100vh;
}

img {
    border: 2px solid rgb(77, 71, 63);
}

footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: rem;
    font-style: italic;
    text-align: left;
}


/* cybersecurity and blockchain  */

.focus {
    font-size: rem;
    font-style: italic;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
}

a:visited {
    color: rgb(56, 50, 50);
    font-size: normal;
}

a:hover {
    color: lightsteelblue;
    text-decoration: user-zoom;
    background-color: rgb(121, 121, 190);
}

.form {
    width: 80%;
    margin: 0 auto;
}